[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
common = { editable = true, path = "src/common" }
boto3 = "1.26.100"

[dev-packages]

[requires]
python_version = "3.10"

