[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
common = { editable = true, path = "src/common" }
boto3 = "*"
aws-lambda-powertools = "*"
requests = "*"
dataclasses-json = "*"
cfn-lint = "*"

[dev-packages]


[requires]
python_version = "3.10"